@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque&display=swap');

.font-poppins{
  font-family: 'Poppins', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.label{
  font-size: .9em;
  color: #3b3b3b;
}
.input-box{
  box-shadow: inset 0 5px 30px 10px rgba(0,0,0,.08);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: .9em;
  color: black;
}
.border{
  border: 2px solid  #555353;
  border-radius: 5px;
}
.App-header {
  background: linear-gradient(to top right,#fc2c77 0%,#406c79 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  color: black;
}

.section-bg{
  background-color:white;
}

select{
  cursor: pointer;
}

.warning{
  text-align: center;
  font-size: 17px;
  color: red;
  font-weight: bold;
}
.warning-font{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.good{
  text-align: center;
  font-size: 17px;
  color: rgb(14, 177, 14);
  font-weight: bold;
}